body{
    background-color: blue;
}
.xxx{
    width: 1200px;
    height: 614px;
    background-color: yellow;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 81px;
    justify-content: center;
    align-items: center;
    
}
.hhh{
    background-color: brown;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.rrr{
    background-color: red;
    width: 133px;
    height: 78px;
    align-items: center;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
}